@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

h1.branco-semibold {
  color: #fff;
  font-family: "Poppins";
  max-width: 18ch;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.1;
}

section#planos h1.branco-semibold span {
  line-height: 1.2;
}
section#planos h1.branco-semibold {
  max-width: 14ch;
}

.branco-semibold-32 {
  color: #fff;
  font-family: "Poppins";
  font-size: 2rem;
  font-weight: 600;
  /* max-width: 4ch; */
}

.branco-medium {
  color: #fff;
  font-family: "Poppins";
  font-weight: 500;
}

p.small-gray {
  color: #b2b2b2;
  font-size: 1.5rem;
  font-family: "Roboto";
  font-weight: 400;
  max-width: 44ch;
}

.btn-verde {
  background: linear-gradient(to top, #bafd00, #bff205);
  align-self: flex-start;
  padding: 0.825rem 2rem;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.125rem;
  margin-top: 10px;
}

.btn-verde:hover {
  background: linear-gradient(to top, #accf00, #b2e004);
  cursor: pointer;
  color: #fff;
}

.btn-branco {
  background-color: #fff;
  align-self: flex-start;
  padding: 0.825rem 2rem;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.125rem;
  margin-top: 10px;
}
