section#home {
  height: 800px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  position: relative;
  align-items: start;
}

.content-texto {
  z-index: 1;
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  position: relative;
  top: 140px;
  gap: 5px;
}

img {
  /* max-width: 1200px; */
  object-fit: contain;
  max-height: 800px;
  grid-column: 2;
  /* border: 2px solid blue; */
  position: absolute;
  right: -575px;
  top: -70px;
  z-index: 4;
  background: transparent;
}
